@import "utilities/mapas";
@import "utilities/mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: map-get($map: $estilos, $key: colorPrincipal);
    font-family: map-get($map: $estilos, $key: fontDos);
    ul li{
        margin: 10px 5px 10px 5px;
        font-size: 1.4rem;
    }
    ul li:hover{
        transform: scale(0.9);
    }
}

section{
    h1{
        @include encabezadoUno;
    }
    p{
        @include parrafo;
        margin: 2rem;
    }
}

.contenidoInicio{
    .img{
        @include gridHome;
        .imgH{
            width: 80%;
            margin: 20px auto;
        }
    }
    h2{
        @include encabezadoDos;
        margin: 4rem auto;
        .link{
            color: map-get($map: $estilos, $key:colorPrincipal );
            text-decoration: none;
        }
        .logoSpotify{
            width: 3%;
        }
    }
    h2:hover{
        transform: scale(0.9);
    }

    .flexHome{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 4rem;
        p{
            @include parrafo;
            margin: 1rem 6rem;
        }
        .imgPortada{
            width: 50%;
        }
        .imgPortadaResponsive{
            display: none;
        }
    }
}

/*sobre el album*/

section{
    h1{
        @include encabezadoUno;
    }

    .parrafoAlbum{
        @include parrafo;
        margin: 1.3rem 10rem;
    }
    .imgAl{
        margin: 4rem 0rem;
        text-align: center;
        .imgAlbum{
            width: 70%;
            margin-bottom: 2rem
        }
    }
}
.contenidoAlbum{
    @include gridSidebar;
    .contenidoMain{
        margin-left: 5rem;
        p{
            @include parrafo;
        }
        .imgAl{
            margin: 5rem;
            text-align: center;
            .imgAlbum{
                width: 80%;
            }
        }
        .flexImg{
            display: flex;
            justify-content: center;
            margin: 2.5rem 10rem;
            .imgP{
                width: 50%;
                margin: 0 2rem;
            }
        }
        h2{
            @include encabezadoDos;
            color: map-get($map: $estilos, $key: colorPrincipal);
            margin: 5rem;
        }
        .subtituloDos{
            @include encabezadoTres;
        }
        .parrafoAlbum{
            margin: 2rem 8rem;
        }
    }
    aside{
        .sidebar{
            @include sidebar;
            h2{
                @include encabezadoDos;
                font-size: 1.5rem;
                margin: 1rem 0;
            }
            .pSidebar{
                @include parrafo;
                @include pSidebar;   
            }
        }
        .sidebarDos{
            height: 550px;
            margin: 1rem;
        }
    }
}

/*multimedia*/
.contenidoMultimedia{
    h1{
        @include encabezadoUno;
    }
    h2{
        @include encabezadoDos;
        color: map-get($map: $estilos, $key: colorSecundario);
        margin: 2rem 0;
    }
    .imgMultimedia{
        @include gridMultimedia;
    }
    
    .imgMulti1{
        grid-area: imgMulti1;
        @include estilosMultimedia;
    }
    .imgMulti2{
        grid-area: imgMulti2;
        @include estilosMultimedia;
    }
    .imgMulti3{
        grid-area: imgMulti3;
        @include estilosMultimedia;
    }
    .imgMulti4{
        grid-area: imgMulti4;
        @include estilosMultimedia;
    }
    .imgMulti5{
        grid-area: imgMulti5;
        @include estilosMultimedia;
    }
    .imgMulti6{
        grid-area: imgMulti6;
        @include estilosMultimedia;
    }
    .imgMulti7{
        grid-area: imgMulti7;
        @include estilosMultimedia;
    }
    .imgMulti8{
        grid-area: imgMulti8;
        @include estilosMultimedia;
    }
    .imgMulti9{
        grid-area: imgMulti9;
        @include estilosMultimedia;
    }
}

/*sobre el autor*/

section{
    h1{
        @include encabezadoUno;
    }
    p{
        @include parrafo;
        margin: 2.5rem 10rem;
    }
}

.mainAutor{
    @include gridSidebar;
    h2{
        @include encabezadoDos;
        color: map-get($map: $estilos, $key: colorSecundario );
    }
    .discFlex{
        display: flex; 
        justify-content: center;
        margin: 3rem 0 3rem 6rem;
        .imgDisc{
            width: 40%;
            margin: 1rem auto;
        }
        .imgDiscResponsive{
            display: none;
        }
        div{
            p{
                @include parrafo;
                margin: 0 2.5rem;
                justify-content: center;
                .link{
                    text-decoration: none;
                    color: gray;
                    font-weight: bold
                }
                .link:hover{
                    color: rgb(63, 63, 63);
                }
            }
            .tituloAl{
                @include titulos;
                margin: 2rem auto;
                color: map-get($map: $estilos, $key: colorPrincipal);
                .logoSpotify{
                    width: 7%;
                }
            }
            .logoSpotify:hover {
                transform: scale(0.9);
            } 
        }   
    }

    .sidebar{
        @include sidebar;
        .imgPortrato{
            width: 40%;
            display: block;
            margin: 0.5rem auto;
        }
        h2{
            @include encabezadoDos;
            color: rgb(88, 87, 87);
            font-size: 1.5rem;
            margin: 0 auto;
            font-family: map-get($map: $estilos, $key: fontDos);
        }
        p{
            @include parrafo;
            @include pSidebar;
            margin-bottom: 1rem;
        }
        .imgSide{
            width: 85%;
            display: block;
            margin: 0.5rem auto;
        }
    }
}

/*long pond studio*/

section{
    h1{
        @include encabezadoUno;
        margin: 4.5rem 10rem;
    }
}

.mainLong{
    @include gridSidebar; 
    .contenidoLong{
        p{
            @include parrafo;
            margin: 0rem 5rem;
        }
        .imgLong{
            display: block;
            margin: 2rem auto;
            text-align: center;
            .imgLP{
                width: 40%;
            }
        }
    }
    aside{
        .sidebarLong{
            padding: 1.3rem;
            margin-right: 3rem;
            border: solid rgb(230, 220, 212) 0.5px;
            border-radius: 3px; 
            .imgSideLong{
                width: 90%;
                display: block;
                margin: 1.5rem auto;           
            }
            h3{
                @include encabezadoTres;
                font-size: 1.2rem;
                .link{
                    font-family: map-get($map: $estilos, $key: fontDos );
                    text-decoration: none;
                    color: gray;
                }
            }
            h3:hover{
                transform: scale(0.9);
            }
        }
    }
}


@media screen and (max-width: 768px) {
    section{
        margin: 1rem 2rem;
        h1{
            margin: 1.5rem;
            font-size: 2.8rem;
        }
        p{
            font-size: 1.3rem;
            margin: 2rem;
        }
    }
    .contenidoInicio{
        .img{
            display: block;
            margin: 1rem auto;
            .imgH{
                width: 80%;
                display: block;
            }
        }
        h2{
            .logoSpotify{
                width: 10%;
            }
        }
        .flexHome{
            display: block;
            margin: 0 auto;
            p{
                font-size: 1.3rem;
                margin: 2rem;
            }
            .imgPortadaResponsive{
                display: block;
                width: 80%;
                margin: 2.3rem auto;
            }
            .imgPortada{
                display: none;
            }
        }
    }
    /*sobre el album*/
    .contenidoAlbum{
        display: block;
        margin: 0 auto;
        .contenidoMain{
            margin: 2rem;
            .parAlbum{
                margin: 1rem auto;
                font-size: 1.3rem;
            }
            .imgAl{
                margin: 0;
                
                .imgTexto{
                    width: 90%;
                    margin: 0 auto;
                }
                .imgAlbum{
                    width: 98%;
                    margin-bottom: 1rem;

                }
            }
            .flexImg{
                display: block;
                margin: 0 auto;
                .imgP{
                    width: 95%;
                    margin: 1rem 0;   
                }
            }
            h2{
                border-bottom: solid rgb(198, 169, 146) 5px;
                margin: 2rem;
            }
            .subtituloDos{
                font-size: 2.2rem;
            }
            .parrafoAlbum{
                margin: 2rem ;
            }
        }
    }
    aside{
        display: none;
    }
    /*multimedia*/ 
    .contenidoMultimedia{
        h1{
            font-size: 2.8rem;
            margin: 1rem;
        }
        h2{
            font-size: 2.4rem;
        }
        .imgMultimedia{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    /*sobre el autor*/
    section{
        margin: 1rem 0;
        p{
            margin: 0;
            padding: 0 4rem;
        }
    }
    .mainAutor{
        display: block;
        margin: 0;
        .discFlex{
            display: block;
            margin: 0;
            .imgDisc{
                display: none;
            }
            .imgDiscResponsive{
                width: 50%;
                display: block;
                margin: 1rem auto;
                margin-bottom: 4rem;
            }
            div{
                p{
                    margin:0;
                    font-size: 1.3rem;
                    padding: 0 4rem;
                }
                .tituloAl{
                    font-size: 2rem;
                    margin-bottom: 1.3rem;
                }
            }
        }

    }
    .sidebar{
        display: none;
    }
    .mainLong{
        display: block;
        .contenidoLong{
            p{
                margin: 1rem auto;
                font-size: 1.3rem;
                padding: 2rem;
            }
            .imgLong{
                .imgLP{
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px){
    section{
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.3rem;

        }
    }
    .contenidoInicio{
        .img{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            grid-gap: 1rem;
            .imgH{
                width: 80%;
                
            }
        }
    }
    .flexHome{
        p{
            font-size: 1.3rem;
        }
        .imgPortadaResponsive{
            margin: 2.3rem auto;
            display: block;
        }
        .imgPortada{
            display: none;
        }
    }

    /*sobre el album*/

    section{
        h1{
            margin: 2rem;
        }
    }
    .contenidoAlbum{
        display: block;
        margin: 0 auto;
        .contenidoMain{
            margin: 0 2rem;
            .parAlbum{
                margin: 2rem;
                font-size: 1.3rem;
               
            }
            .imgAl{
                margin: 1.3rem;
                
                .imgTexto{
                    width: 90%;
                    margin: 0 auto;
                }
                .imgAlbum{
                    width: 98%;
                    margin-bottom: 1rem;

                }
            }
            .flexImg{
                display: block;
                margin: 0 auto;
                .imgP{
                    width: 70%;
                    margin: 1rem auto;
                    display: block;
                       
                }
            }
            h2{
                border-bottom: solid rgb(198, 169, 146) 5px;
                margin: 2rem;
            }
            .subtituloDos{
                font-size: 2.5rem;
            }
            .parrafoAlbum{
                margin: 2rem;
                font-size: 1.3rem;
            }
        }
    }
    /*multimedia*/ 
    .contenidoMultimedia{
        h1{
            font-size: 2.8rem;
            margin: 1rem;
        }
        h2{
            font-size: 2.4rem;
        }
        .imgMultimedia{
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 70%;
        }
    }
    /*sobre el autor*/
    .mainAutor{
        display: block;
        margin: 0;
        .discFlex{
            display: block;
            margin: 0;
            .imgDisc{
                display: none;
            }
            .imgDiscResponsive{
                width: 50%;
                display: block;
                margin: 1rem auto;
                margin-bottom: 4rem;
            }
            div{
                p{
                    margin:0;
                    font-size: 1.3rem;
                    padding: 0 4rem;
                }
                .tituloAl{
                    font-size: 3rem;
                    margin-bottom: 1.3rem;
                }
            }
        }
    }

    .mainLong{
        display: block;
        .contenidoLong{
            p{
                margin: 1rem auto;
                font-size: 1.3rem;
                padding: 2rem;
            }
            .imgLong{
                .imgLP{
                    width: 80%;
                }
            }
        }
        aside{
            .sidebarLong{
                border: none;
                width: 50%;
                margin: auto;
                h3{
                    font-size: 1.8rem;
                }
            }
        }
    }
    aside{
        .sidebar{
            display: none;
        }
        .sidebarDos{
            display: none;
        }
    }
}

@media screen and (min-width: 1001px) and (max-width:1200px){
    /*sobre el album*/
    .contenidoAlbum{
        .contenidoMain{

            .imgAl{
                margin: 2rem;
                .imgAlbum{
                    width: 100%;
                }
            }
            .flexImg{
                margin: 2rem auto;
                .Imgp{
                    width: 100%;
                    margin: 0;
                }
            }
            h2{
                margin-top: 2.5rem;
                margin-bottom: 0;
            }
            .parrafoAlbum{
                margin: 2rem 0;
            }
        }
    }

    /*sobre el autor*/
    .mainAutor{
        grid-template-columns: 2fr 200px;
        grid-gap: 0;
        div{
            .discFlex{
                margin: 3rem 1rem;
                div{
                    .pDisc{
                        margin: 0 1rem;
                    }
                }
            }
        }
        aside{
            .sidebar{
                padding: 0;
                margin: 1rem;
                .imgPortrato{
                    width: 70%;
                }
                h2{
                    font-size: 1.2rem;
                }
                .imgSide{
                    width: 90%;
                }
            }
        }
    }
    /*long pond*/
    .mainLong{
        .contenidoLong{
            p{
                margin: 1rem;
            }
            .imgLong{
                .imgLP{
                    width: 70%;
                }
            }
        }
    }
}

footer{
    h3{
        background-color: map-get($map: $estilos, $key: colorPrincipal);
        color: white;
        font-size: 1rem;
        text-align: center;
        font-family: map-get($map: $estilos, $key: font);
        padding: 2rem;
        font-weight: bold;
    }
}
