@import "utilities/mapas";
@import "utilities/mixin";
@import "utilities/extend";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

.menu{
    background-color: map-get($map: $estilos, $key: colorPrincipal);
    font-family: map-get($map: $estilos, $key: fontDos);
    ul li{
        margin: 10px 5px 10px 5px;
        font-size: 1.4rem;
    }
    ul li:hover{
        transform: scale(0.9);
    }
}

section{
    h1{
        @extend %encabezadoUno;
    }
    p{
        @extend %parrafos;
        .link{
            color: map-get($map: $estilos, $key: colorPrincipal);
            text-decoration: none;
            font-weight: bold;
        }
        .link:hover{
            color: map-get($map: $estilos, $key: colorTercero) ;
        }
    }
}

.contenidoInicio{
    margin: 0 10rem;
    .img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        .imgH{
            width: 80%;
            margin: 20px auto;
        }
    }
    h2{
        @extend %encabezadoDos;
        margin: 4rem auto;
        .link{
            color: map-get($map: $estilos, $key:colorPrincipal );
            text-decoration: none;
        }
        .logoSpotify{
            width: 3%;
        }
    }
    h2:hover{
        transform: scale(0.9);
    }

    .flexHome{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 4rem 0;
        div{

            p{
                @extend %parrafos;
                margin-right: 2rem;
                margin-bottom: 0;
            }
            .imgPortada{
                width: 50%;
            }
            .imgPortadaResponsive{
                display: none;
            }
        }
    }
}

/*sobre el album*/

.contenidoAlbum{
    margin: 0 10rem;
    .contenidoMain{
        @extend %gridSidebar;
        div{
            h1{
                @extend %encabezadoUno;
            }
            p{
                @extend %parrafos;
                width: 85%;
                margin: 0 auto;
            }
            .imgAlDos{
                text-align: center;
                margin: 3rem 0;
            }
            .flexImg{
                display: flex;
                justify-content: center;
                margin: 2.5rem 0rem;
                .imgP{
                    width: 40%;
                    margin: 0 1rem;
                }
            }
        }
        aside{
            margin: 10rem 0;
            .sidebar{
                @extend %sidebarEstilos;
                h2{
                    @extend %encabezadoDos;
                    color: map-get($map: $estilos, $key: colorTercero);
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
                .pSidebar{
                    @extend %parrafos;
                    @include pSidebar;   
                }
            }
            .sidebarDos{
                margin: 1rem;
            }
        }
    }
    .subtituloUno{
        @extend %encabezadoDos;
        color: map-get($map: $estilos, $key: colorPrincipal);
        margin: 5rem 0;
        border-bottom: solid rgb(198, 169, 146) 5px;
    }
    .subtituloDos{
        @extend %encabezadoTres;
        font-size: 3rem
    }
    .parrafoAlbum{
        @extend %parrafos;
        text-align: center;
        margin: 2rem auto;
        width: 70%;
        span{
            font-style: italic;
            color: rgb(99, 80, 65);
            font-weight: bold;
            text-align: center;
        }
    }
    .imgAl{
        text-align: center;
        margin: 1.5rem 0;
        .imgAlbum{
            width: 60%;
            margin-bottom: 2.5rem;
        }
    }
    
}

/*multimedia*/
.contenidoMultimedia{
    margin: 0 10rem;
    h1{
        @extend %encabezadoUno;
    }
    h2{
        @extend %encabezadoDos;
        color: map-get($map: $estilos, $key: colorSecundario);
        margin: 2rem 0;
    }
    .imgMultimedia{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                          "imgMulti1 imgMulti2 imgMulti3"
                          "imgMulti4 imgMulti5 imgMulti6"
                          "imgMulti7 imgMulti8 imgMulti9";
        justify-content: center;
        align-items: center;
    }
    
    .imgMulti1{
        grid-area: imgMulti1;
        @extend %estilosMultimedia;
    }
    .imgMulti2{
        grid-area: imgMulti2;
        @extend %estilosMultimedia;
    }
    .imgMulti3{
        grid-area: imgMulti3;
        @extend %estilosMultimedia;
    }
    .imgMulti4{
        grid-area: imgMulti4;
        @extend %estilosMultimedia;
    }
    .imgMulti5{
        grid-area: imgMulti5;
        @extend %estilosMultimedia;
    }
    .imgMulti6{
        grid-area: imgMulti6;
        @extend %estilosMultimedia;
    }
    .imgMulti7{
        grid-area: imgMulti7;
        @extend %estilosMultimedia;
    }
    .imgMulti8{
        grid-area: imgMulti8;
        @extend %estilosMultimedia;
    }
    .imgMulti9{
        grid-area: imgMulti9;
        @extend %estilosMultimedia;
    }
}

/*sobre el autor*/

section{
    h1{
        @extend %encabezadoUno;
    }
    p{
        @extend %parrafos;
        margin: 2.5rem 10rem;
    }
}

.mainAutor{
    @extend %gridSidebar;
    margin: 0 10rem;
    h2{
        @extend %encabezadoDos;
        color: map-get($map: $estilos, $key: colorSecundario );
    }
    .discFlex{
        display: flex; 
        justify-content: center;
        margin: 3rem 0;
        .imgDisc{
            width: 40%;
            margin: 1rem auto;
        }
        .imgDiscResponsive{
            display: none;
        }
        div{
            margin: 2rem 2.5rem;
            p{
                @extend %parrafos;
                justify-content: center;
                margin: 2rem 0;
                .link{
                    text-decoration: none;
                    color: gray;
                    font-weight: bold
                }
                .link:hover{
                    color: rgb(63, 63, 63);
                }
            }
            .tituloAl{
                font-family: 'Antonio', sans-serif;
                text-align: center;
                font-size: 2.3rem;
                color: map-get($map: $estilos, $key: colorPrincipal);
                .logoSpotify{
                    width: 7%;
                }
            }
            .logoSpotify:hover {
                transform: scale(0.9);
            } 
        }   
    }

    aside{
        .sidebar{
            @extend %sidebarEstilos;
            .imgPortrato{
                width: 40%;
                display: block;
                margin: 0.5rem auto;
            }
            h2{
                @extend %encabezadoDos;
                color: map-get($map: $estilos, $key: colorTercero);
                font-size: 1.5rem;
                margin: 0 auto;
                font-family: map-get($map: $estilos, $key: fontDos);
            }
            p{
                @extend %parrafos;
                @include pSidebar;
                margin-bottom: 1rem;
            }
            .imgSide{
                width: 85%;
                display: block;
                margin: 0.5rem auto;
            }
        }
        .sidebarDos{
            margin: 1rem;
            
            p{
                @extend %parrafos;
                @include pSidebar;
                font-size: 1.6rem;
                margin: 3rem 0 1.5rem 0;
                border-bottom: solid rgb(198, 169, 146) 8px;
                border-bottom-width: 2px;
            }
        }
    }
}

/*long pond studio*/

.mainLong{
    @extend %gridSidebar; 
    margin: 0 10rem;
    .contenidoLong{
        h1{
            @extend %encabezadoUno;
        }
        p{
            @extend %parrafos;
        }
        .imgLong{
            display: block;
            margin: 2rem auto;
            text-align: center;
            width: 50%;
        }
        .imgLongDos{
            display: block;
            margin: 2rem auto;
            text-align: center;
            width: 70%;
        }
    }
    aside{
        margin: 10rem 0;
        .sidebarLong{
            @extend %sidebarEstilos;
            .imgSideLong{
                width: 90%;
                display: block;
                margin: 1.5rem auto;           
            }
            h3{
                @extend %encabezadoTres;
                font-size: 1.2rem;
                .link{
                    font-family: map-get($map: $estilos, $key: fontDos );
                    text-decoration: none;
                    color: map-get($map: $estilos, $key: colorPrincipal);
                }
            }
            h3:hover{
                transform: scale(0.9);
            }
        }
    }
}


@media screen and (max-width: 768px) {
    section{
        margin: 1rem 2rem;
        h1{
            margin: 1.5rem;
            font-size: 2.8rem;
        }
        p{
            font-size: 1.3rem;
            margin: 2rem;
        }
    }
    .contenidoInicio{
        margin: 1rem 2rem;
        .img{
            display: block;
            margin: 1rem auto;
            .imgH{
                width: 80%;
                display: block;
            }
        }
        h2{
            .logoSpotify{
                width: 10%;
            }
        }
        .flexHome{
            display: block;
            div{
                p{
                    font-size: 1.3rem;
                    margin: 0 auto;
                    text-align: left;
                }
                .imgPortadaResponsive{
                    display: block;
                    width: 80%;
                    margin: 2.3rem auto;
                }
            }
            .imgPortada{
                display: none;
            }
        }
    }
    /*sobre el album*/
    .contenidoAlbum{
        display: block;
        margin: 0 auto;
        .contenidoMain{
            display: block;
            margin: 2rem;
            div{
                .parAlbum{
                    margin: 1rem auto;
                    font-size: 1.3rem;
                    text-align: left;
                }
                .imgAlDos{
                    margin: 1.5rem auto;
                    
                    .imgTexto{
                        width: 90%;
                        margin: 0 auto;
                    }
                }
                .flexImg{
                    display: block;
                    margin: 0 auto;
                    .imgP{
                        width: 95%;
                        margin: 1rem 0;   
                    }
                }
            }
            aside{
                display: none;
            }
            .flexImg{
                display: block;
                margin: 0 auto;
                .imgP{
                    width: 95%;
                    margin: 1rem 0;   
                }
            }
            
        }
        h2{
            border-bottom: solid rgb(198, 169, 146) 5px;
            margin: 2rem;
        }
        .subtituloDos{
            font-size: 2.2rem;
        }
        .parrafoAlbum{
            margin: 2rem auto;
        }
        .imgAl{
            margin: 1rem;
            .imgAlbum{
                width: 98%;
            }
        }
    }
    /*multimedia*/ 
    .contenidoMultimedia{
        margin: 0 auto;
        h1{
            font-size: 2.8rem;
            margin: 1rem;
        }
        h2{
            font-size: 2.4rem;
        }
        .imgMultimedia{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    /*sobre el autor*/
    section{
        margin: 1rem 0;
        p{
            margin: 0 1rem;
            padding: 0;
        }
    }
    .mainAutor{
        display: block;
        margin: 0;
        .discFlex{
            display: block;
            margin: 0;
            .imgDisc{
                display: none;
            }
            .imgDiscResponsive{
                width: 80%;
                display: block;
                margin: 1rem auto;
                margin-bottom: 3rem;
            }
            div{
                margin: 1rem;
                p{
                    margin:0;
                    font-size: 1.3rem;
                    padding: 0 1rem;
                    text-align: left;
                }
                .tituloAl{
                    font-size: 2rem;
                    margin-bottom: 1.3rem;
                }
            }
        }
        aside{
            .sidebar{
                display: none;
           }
           .sidebarDos{
                margin: 1rem auto;
           }
        }

    }
    /*long pond sessions*/
    .mainLong{
        display: block;
        margin: 1rem auto;
        .contenidoLong{
            h1{
                margin: 2rem 3rem;
                font-size: 3.2rem;
            }
            p{
                margin: 0 auto;
                font-size: 1.3rem;
                padding: 2rem;
                text-align: left;
            }
            .imgLong{
                width: 90%;
            }
            .imgLongDos{
                width: 100%;
                margin: 2rem 0;
            }
        }
        aside{
            margin: 0 auto;
            .sidebarLong{
                margin: 0 auto;
                border: none;
                .imgSideLong{
                    width: 60%;
                    margin: 1rem auto;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px){
    section{
        margin: 1rem 2rem;
        h1{
            font-size: 3.4rem;
        }
        p{
            font-size: 1.3rem;
            margin: 2rem;

        }
    }
    .contenidoInicio{
        margin: 1rem 2rem;
        .img{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            grid-gap: 1rem;
            .imgH{
                width: 80%;
            }
        }
        .flexHome{
            display: block;
            margin: 0 2rem;
            div{
                p{
                    font-size: 1.3rem;
                    margin: 0 auto;
                    text-align: left;
                }
                .imgPortadaResponsive{
                    display: block;
                    width: 80%;
                    margin: 2.3rem auto;
                }
            }
            .imgPortada{
                display: none;
            }
        }
    }

    /*sobre el album*/

    section{
        h1{
            margin: 2rem;
        }
    }
    .contenidoAlbum{
        margin: 0 auto;
        .contenidoMain{
            display: block;
            div{
                .imgAlDos{
                    margin: 1.3rem;
                    
                    .imgTexto{
                        width: 70%;
                        margin: 0 auto;
                    }
                }
                .flexImg{
                    display: block;
                    margin: 0 auto;
                    .imgP{
                        width: 70%;
                        margin: 1rem auto;
                        display: block;
                           
                    }
                }
            }
            aside{
                display: none;
            }
        }
        h2{
            border-bottom: solid rgb(198, 169, 146) 5px;
            margin: 2rem;
        }
        .subtituloDos{
            font-size: 2.5rem;
        }
        .parrafoAlbum{
            margin: 2rem auto;
            font-size: 1.3rem;
        }
        .imgAlbum{
            width: 98%;
            margin-bottom: 1rem;

        }
    }
    
    /*multimedia*/ 
    .contenidoMultimedia{
        margin: 0 auto;
        h1{
            font-size: 2.8rem;
            margin: 1rem;
        }
        h2{
            font-size: 2.4rem;
        }
        .imgMultimedia{
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 70%;
        }
    }
    /*sobre el autor*/
    .mainAutor{
        display: block;
        margin: 0;
        .discFlex{
            display: block;
            margin: 0;
            .imgDisc{
                display: none;
            }
            .imgDiscResponsive{
                width: 50%;
                display: block;
                margin: 1rem auto;
                margin-bottom: 4rem;
            }
            div{
                p{
                    margin:0;
                    font-size: 1.3rem;
                    padding: 0 4rem;
                }
                .tituloAl{
                    font-size: 3rem;
                    margin-bottom: 1.3rem;
                }
            }
        }
        aside{
            margin: 0 auto;
            .sidebar{
                display: none;
            }
            .sidebarDos{
                display: block;
                margin: 1rem auto;
            }
        }
    }
    /*long pond sessions*/
    .mainLong{
        display: block;
        margin: 0 auto;
        .contenidoLong{
            h1{
                margin: 2rem 3rem;
                font-size: 3.2rem;
            }
            p{
                margin: 1rem auto;
                font-size: 1.3rem;
                padding: 2rem;
            }
        }
        aside{
            margin: 1rem;
            .sidebarLong{
                border: none;
                width: 50%;
                margin: 0 auto;
                .imgSideLong{
                    width: 70%;
                }
                h3{
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width:1350px){
    section{
        margin: 1rem 3rem;
    }
    .contenidoInicio{
        margin: 1rem 3rem;
        .flexHome{
            .imgPortada{
                width: 40%;
            }
        }
    }
    /*sobre el album*/
    .contenidoAlbum{
        margin: 1rem 3rem;
        .contenidoMain{

            .imgAl{
                margin: 2rem;
                .imgAlbum{
                    width: 100%;
                }
            }
            .flexImg{
                margin: 2rem auto;
                .Imgp{
                    width: 100%;
                    margin: 0;
                }
            }
            h2{
                margin-top: 2.5rem;
                margin-bottom: 0;
            }
            .parrafoAlbum{
                margin: 2rem 0;
            }
        }
    }

    /*multimedia*/
    .contenidoMultimedia{
        margin: 1rem 3rem;
    }

    /*sobre el autor*/
    .mainAutor{
        margin: 0 3rem;
        div{
            .discFlex{
                display: block;
                margin: 0 auto;
                .imgDisc{
                    display: none;
                }
                .imgDiscResponsive{
                    width: 60%;
                    display: block;
                    margin: 1rem auto;
                    margin-bottom: 3rem;
                }
                div{
                    margin: 1rem 0.5rem;
                    .pDisc{
                        margin: 0 1rem;
                    }
                }
            }
        }
        aside{
            margin-left: 1rem;
            .sidebar{
                padding: 0;
                margin: 0;
                .imgPortrato{
                    width: 70%;
                }
                h2{
                    font-size: 1.2rem;
                }
                .imgSide{
                    width: 90%;
                }
            }
            .sidebarDos{
                margin: 0;
            }
        }
    }
    /*long pond*/
    .mainLong{
        margin: 0 3rem;
        .contenidoLong{
            p{
                margin: 1rem;
            }
            .imgLong{
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 1351px) and (max-width: 1600px){
    .mainAutor{
        margin: 0 5rem;
    }
}

footer{
    h3{
        background-color: map-get($map: $estilos, $key: colorPrincipal);
        color: white;
        font-size: 1rem;
        text-align: center;
        font-family: map-get($map: $estilos, $key: font);
        padding: 2rem;
        font-weight: bold;
    }
}
