$estilos: (
    colorPrincipal: rgb(198, 169, 146),
    colorSecundario: rgb(128, 128, 128),
    colorTercero: rgb(99, 80, 65),
    colorBorders: rgb(211, 209, 209),
    font: ('Open Sans', sans-serif),
    fontDos: ('IM Fell DW Pica', serif),
    fontTres: ('Antonio', sans-serif),
    size: 1rem,

);