@mixin encabezadoUno{
    font-family: 'IM Fell DW Pica', serif;
    color: #c6a992;
    font-size: 4.2rem;
    text-align: center;
    margin-top: 3rem;
}
  
@mixin encabezadoDos{
      text-align: center;
      font-family: 'IM Fell DW Pica', serif;
      font-size: 2.7rem;
}

@mixin titulos{
    font-family: 'Antonio', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}
  
@mixin encabezadoTres{
      text-align: center;
      font-family: 'IM Fell DW Pica', serif;
      font-size: 2.3rem;
      color: rgb(128, 128, 128);
}

@mixin parrafo{
    text-align: center;
    font-family: map-get($map: $estilos, $key: font);
    font-size: 1.1rem;
    color: map-get($map: $estilos, $key: colorSecundario);
    line-height: 1.5rem;
}

@mixin gridHome{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@mixin gridSidebar {
    display: grid;
    grid-template-columns:2fr 350px;
    grid-template-rows: auto auto auto auto ;
    margin: 2rem auto;
    grid-gap: 5rem;
}

@mixin gridSidebarDos{
    display: grid;
    grid-template-columns: 2fr 350px;
    grid-template-rows: auto auto auto ;
    margin: 2rem auto;
    grid-gap: 5rem;
}

 
@mixin pSidebar {
    color: black;
    font-family: map-get($map: $estilos, $key: fontDos);
    margin: 0 auto;
    
}

@mixin widthImg{
    width: 70%;
}

@mixin sidebar{
    padding: 1.3rem;
    margin-right: 3rem;
    height: 600px;
    background-color: rgb(219, 199, 182);
    border: solid rgb(219, 199, 182) 0.5px;
    border-radius: 8px; 
}

@mixin gridMultimedia{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                          "imgMulti1 imgMulti2 imgMulti3"
                          "imgMulti4 imgMulti5 imgMulti6"
                          "imgMulti7 imgMulti8 imgMulti9";
        justify-content: center;
        align-items: center;
}

@mixin estilosMultimedia {
    margin: 3rem auto;
    width: 80%;  
}